<div><span ng-click="cancel()"><i class="fa fa-times fa-2x" id="cancel" aria-hidden="true"></i></span></div>
<ng-form class="form-horizontal row" name="loginForm" 
         ng-model-options="{ debounce: 200 }" novalidate>
  
  <div class="form-group has-feedback">
    
    <!--Email-->
    <div id="email-group" class="col-xs-10 col-xs-offset-1">
      <label class="col-xs-12 input-error" for="email">
        <span ng-show="loginForm.email.$invalid && loginForm.email.$dirty">Invalid Email</span>
      </label>

      <div class="input-group col-xs-12">
        <span class="input-group-addon" id="basic-addon1">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
        </span>
        <input type="email" class="form-control col-xs-12" id="email" name="email"
               placeholder="Email" required
               ng-model="local.email">

        <span class="glyphicon glyphicon-ok form-control-feedback" 
              ng-show="ok"></span>
        <span class="glyphicon glyphicon-warning-sign form-control-feedback" 
              ng-show="loginForm.email.$invalid && loginForm.email.$dirty"></span>
      </div>
    </div>

    <!--Username-->
    <div id="username-group" class="col-xs-10 col-xs-offset-1" ng-show="newAccount">
      <label class="col-xs-12 input-error" for="username"> 
        <span ng-show="loginForm.username.$error.minlength">Username must be at least 5 characters</span>
      </label>

      <div class="col-xs-12 input-group" ng-if="newAccount">
        <span class="input-group-addon" id="basic-addon1">
          <i class="fa fa-user-circle-o" aria-hidden="true"></i>
        </span>
        <input type="text" class="form-control" id="username" name="username"
               placeholder="Username" required
               ng-model="local.username" ng-minlength="5" maxlength="50">

        <span class="glyphicon glyphicon-ok form-control-feedback" 
              ng-show="ok"></span>
        <span class="glyphicon glyphicon-warning-sign form-control-feedback" 
              ng-show="loginForm.username.$error.minlength"></span>
      </div>
    </div>

    <!--Password-->
    <div id="password-group" class="col-xs-10 col-xs-offset-1">
      <label class="col-xs-12 input-error" for="password"> 
        <span ng-show="loginForm.password.$error.minlength">Username must be at least 6 characters</span>
      </label>

      <div class="input-group col-xs-12">
        <span class="input-group-addon" id="basic-addon1">
          <i class="fa fa-key" aria-hidden="true"></i>
        </span>
        <input type="password" class="form-control col-xs-12" id="password" name="password"
               placeholder="Password" required
               ng-model=local.password ng-minlength="6">

        <span class="glyphicon glyphicon-ok form-control-feedback" 
              ng-show="ok"></span>
        <span class="glyphicon glyphicon-warning-sign form-control-feedback" 
              ng-show="loginForm.password.$error.minlength"></span>
      </div>
    </div>
    
    <!--Password Check-->
    <div id="pwcheck-group" class="col-xs-10 col-xs-offset-1 ng-hide" ng-show="newAccount">
      <label class="col-xs-12 input-error" for="pwCheck">
        <span ng-show="loginForm.pwCheck.$error.pwmatch">Does not match password</span>
      </label>

      <div class="input-group col-xs-12" ng-if="newAccount">
        <span class="input-group-addon" id="basic-addon1">
          <i class="fa fa-key" aria-hidden="true"></i>
        </span>
        <input type="password" class="form-control col-xs-12" id="pwCheck" name="pwCheck"
               placeholder="Re-type Password" required
               ng-model=local.pwCheck pw-check="password">

        <span class="glyphicon glyphicon-ok form-control-feedback" 
              ng-show="ok"></span>
        <span class="glyphicon glyphicon-warning-sign form-control-feedback" 
              ng-show="loginForm.pwCheck.$error.pwmatch"></span>
      </div>
    </div>
    
    <!-- Error Message -->
    <div class="col-xs-10 col-xs-offset-1">
    <div uib-alert class="alert alert-danger" id="validation-error" 
       ng-show="errMsg">{{ errMsg }}</div>
    </div>
    
    <button class="btn btn-primary col-xs-8 col-xs-offset-2" id="login" 
            ng-click="signIn(local)" ng-hide="newAccount" ng-disabled="loginForm.$invalid">Login</button>

    <button class="btn btn-primary col-xs-8 col-xs-offset-2" id="sign-up"
            ng-click="signUp(local)"ng-show="newAccount" ng-disabled="loginForm.$invalid">Sign Up</button>

    <div ng-hide="newAccount || linking">
      <div class="col-xs-10 col-xs-offset-1" id="spacer"><hr /></div>

      <button class="btn btn-info col-xs-8 col-xs-offset-2" id="twitter-login"
              ng-click="twitterSignIn()">
        <i class="fa fa-twitter" aria-hidden="true"></i> Login with Twitter</button>
    </div>

  </div>
  <div id="login-switch" class="col-xs-12">
    <h5 ng-hide="newAccount">Don't have an account? 
      <a href='#' ng-click="switch(newAccount)">Click here to Sign Up</a></h5>
    <h5 ng-show="newAccount">
      <a href='#' ng-click="switch(newAccount)">Go Back to Login</a></h5>
  </div>
</ng-form>

{{ local }}