<!-- Add a character limit to Title and check for duplicate options-->
<ng-form novalidate class="simple-form form-group" name="optionsForm" ng-model-options="{ allowInvalid: true }">
  <div class="input-group input-group-lg col-sm-8">
    <span class="input-group-addon">Title</span>
    <input class="form-control" type="text" ng-model="newPoll.title" />
  </div>
  <h3>Options:</h3>
  <div ng-repeat="choice in options" class="form-group">
      <ng-form name="innerForm">
      <!-- First Two Required Options -->
      <div class="input-group input-group-lg col-sm-8" ng-if="$index <= 1">
        <span class="input-group-addon">{{$index+1}} </span>
        <input class="form-control" 
               type="text"
               name="input"
               ng-init="choice.form = innerForm"
               ng-model="choice.value"
               ng-change="duplicate(options)"
               ng-required="true" />
      </div>

      <!-- Additional Options -->
      <div class="input-group input-group-lg col-sm-8" ng-if="$index > 1">
        <span class="input-group-addon">{{$index+1}} </span>
        <input class="form-control" 
               type="text"
               name="input"
               ng-init="choice.form = innerForm"
               ng-model="choice.value"
               ng-change="duplicate(options)" />
        <span class="input-group-btn">
          <button class="btn btn-danger" type="button" ng-click="remove($index)"><span class="glyphicon glyphicon-remove-sign"></span></button>
        </span> 
      </div>
      <span class="help-block" ng-show='innerForm.input.$error.dupe'>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        Duplicate Entry
      </span>
    </ng-form>
  </div>
  <button class="btn btn-primary" type="button" ng-click="add()"><span class="glyphicon glyphicon-plus"</span></button>
  <button class="btn btn-warning" type="button" ng-click="reset()"><span class="glyphicon glyphicon-refresh"</span></button>
  <button class="btn btn-primary" type="submit" ng-click="update(newPoll, options)"><span class="glyphicon glyphicon-ok"</span></button>
</ng-form>

