
<div class="row">

  <h1 ng-show="profile">Welcome {{ user.username }} <a id="logout" class="btn btn-danger" ng-click="logout()">Logout</a></h1>

  <div id="search" class="col-sm-6 col-sm-offset-3">
    <input type="text" class="form-control" placeholder="Search" ng-model="search.title">
  </div>

<!--   <div ng-show="profile" id="chart-panel" class="col-md-4 col-sm-6 panel panel-default">
  <a href="/new"><h1>New Poll</h1></a>
  </div> -->

  <div ng-repeat="poll in filteredPolls = (polls | filter: search)">
    <a href="/poll/{{poll._id}}">
      <div id="chart-panel" class="col-md-4 col-sm-6 panel panel-default">

        <h2 id="poll-title" class="panel-body">{{ poll.title }}</h2>
  <!--
        <canvas id="poll{{poll.id}}" 
                ng-show="status.user == id"
                class="chart chart-pie"
                chart-data="poll.data" 
                chart-labels="poll.labels">
        </canvas>
  -->

      </div>
    </a>
  </div>

</div>