<div ng-show="poll.data">
<h1>{{ poll.title }}
    <button class="btn btn-danger" id="delete" ng-click="delete()" ng-show="user._id == poll.owner">
      <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
    </button>
</h1>

  <div id="choice-panel" class="col-md-6 panel panel-default" ng-hide="complete">
    <div class="panel-body row" ng-hide="complete">

      <div ng-repeat="choice in poll.labels" class="col-xs-10" ng-click="pickChoice(choice)">
        <div class="col-xs-1" id="mock-radio" ng-hide="newChoice || edit">
          <i class="fa fa-square-o fa-2x" aria-hidden="true" ng-hide="pick == 'for ' + choice"></i>
          <i class="fa fa-check-square-o fa-2x" aria-hidden="true" ng-show="pick == 'for ' + choice"></i>
        </div>
        <button id="vote-button" class="btn btn-primary col-xs-10" 
                ng-disabled="edit">
          {{ choice }}
        </button>
      </div>

      
      <div class="col-xs-10" ng-show="user.username" id="new-choice">
        <form name="newChoiceForm" ng-show="edit" novalidate>

          <label for="new-choice" id="warning" class="col-xs-8 col-xs-offset-1">
            <span ng-if="newChoiceForm.input.$error.maxlength">Maximum of 15 characters</span>
            <span ng-if="newChoiceForm.input.$error.dupe">Already exists</span>
            <span style="visibility: hidden">Spacer</span>  <!-- Can't figure out how to keep space for label -->
          </label>
          <div class="input-group col-xs-10 col-xs-offset-1">
            <input class="form-control" name="input" type="text" id="new-option-input" required autocomplete="off"
                   ng-model="newChoice" ng-maxlength="15" ng-trim="true" dupe-check />

            <i class="fa fa-check form-control-feedback" 
               ng-show="newChoiceForm.input.$valid"></i>
            <i class="fa fa-exclamation-triangle form-control-feedback" 
               ng-show="newChoiceForm.input.$invalid && newChoiceForm.input.$viewValue"></i>

            <span class="input-group-btn">

              <button class="btn btn-danger" ng-click="remove()">
                <i class="fa fa-minus-circle" aria-hidden="true"></i>
              </button>

              <button class="btn btn-success" ng-click="update(poll, newChoice)" ng-disabled="!newChoice">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
              </button>

            </span>
          </div>

        </form>
      </div>

      <div class="col-xs-12">
        <button id="add-choice" class="btn btn-primary"
                ng-click="addChoice()" ng-hide="edit || !user.username">
          <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
        </button>
        <button class="btn btn-primary pull-right"
                ng-click="submit(pick)" ng-disabled="!pick">
          Vote {{ pick }}
        </button>
      </div>

    </div>
  </div>

  <div class="col-md-6" ng-hide="results || !user.username" id="show-results">
      <button class="btn btn-primary" ng-click="results=true" ng-disabled="!total">See Results</button>
  </div>
  
  <div class="col-md-6" ng-show="complete || results">
    <canvas id="poll" class="chart chart-pie"
            chart-data="poll.data" chart-labels="poll.labels"
            ng-if="results">
    </canvas>    
  </div>

  <div id="choice-panel" class="col-md-6 panel panel-default" ng-show="complete">
    <div class="panel-body" ng-show="complete">
      <h2>
        Thanks for Voting! <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a>
      </h2>
    </div>
  </div>
  
</div>

