<div ng-show="poll.data">
  <h1>{{ poll.title }}</h1>
  <div class="col-md-6 col-sm-12 well">
    <div ng-hide="complete">
      <button id="delete" ng-click="delete(poll._id)" ng-show="user == poll.owner">Delete This Poll</button>
      
      <form name="pollVote" ng-submit=submit()>
        
        <div ng-repeat="choice in poll.labels">
           <input type="radio" ng-model="$parent.pick" name="choice" value="{{choice}}">
           {{ choice}}
        </div>
        
        <div ng-show="user">
          <input type="button" ng-click="addOption()" value="Add New Option"/><br />

          <div ng-show="edit">
            <div ng-repeat="new in newOptions">
              <span>
                <input type="text" ng-model="new.value">
                <input type="button" ng-click="remove($index)" value="Remove" />
              </span>
              
            </div>

            <div ng-show="newOptions.length">
              <input type="button" ng-click="clear()"  value="Cancel" />
              <input type="button" ng-click="update(poll, newOptions)" value="Save" />
            </div>
          </div>
        </div>
        
        <input id="vote" type="submit" value="Vote" ng-show="pick">
        
      </form>

    </div>
    <div ng-show="complete">
      <p>Thanks for Voting!</p>
      <p>Share This Poll</p>
    </div>

  </div>
  
  <div class="col-md-6 col-sm-12">
    <canvas id="poll" class="chart chart-pie"
            chart-data="poll.data" chart-labels="poll.labels"
            ng-if="results==true || complete==true">
    </canvas>
    <div ng-hide="results || complete || !total">
      <button ng-click="results=true">See Results</button>
    </div>
    <div ng-hide="total || complete">
      <p>No Votes Yet</p>
    </div>
    
  </div>
  
</div>

<h1 ng-hide="poll.data">No Poll Found!</h1>
