<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>Voting App</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">
        <base href="/">

        <!-- load bootstrap and fontawesome via CDN -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
        <style>
            html, body, input, select, textarea
            {
                font-size: 1.05em !important;
            }
        </style>
        
        <script src="//code.angularjs.org/1.5.8/angular.min.js"></script>
        <script src="//code.angularjs.org/1.5.8/angular-route.min.js"></script>
        <script src="//code.angularjs.org/1.5.8/angular-resource.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
        <script src="js/angular-chart.min.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body ng-app="votingApp">

      <header>
        <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Voting App</a>
          </div>

          <ul class="nav navbar-nav navbar-right" ng-controller="navCtrl">
            <li ng-show="status.user"><a href="/new"><i></i> New Poll</a></li>
            <li ng-show="status.user"><a href="/user/{{status.user}}"><i></i> My Polls</a></li>
            <li ng-hide="status.user" ng-click="login()"><a href="/"><i></i> Login</a></li>
            <li ng-show="status.user" ng-click="logout()"><a href="/"><i></i> Logout</a></li>
            
          </ul>
        </div>
        </nav>
      </header>

      <div class="container">

          <div ng-view>Loading...</div>

      </div>

    </body>
</html>