body { 
	padding-top: 80px;
}


.input-group {
	margin-top: 5px;
	margin-bottom: 5px;
}

#warning {
	color: #d62c1a;
}

#chart-panel {
	margin-top: 0.2px;
	margin-bottom: 0.2px;
	min-height: 180px;
	max-height: 20vh;
}

#search {
	text-align: center;
	margin-bottom: 10px;
}

#poll-title {
	text-align: center;
}

#profile {
	display: block;
}

#logout {
	float: right;
}

#vote {
	float: right;
	margin-top: 20px;
}

#delete {
	float: right;
}

#add-choice {
	margin-top: 5px;
	margin-bottom: 5px;
}

#new-choice {
	width: 72%
}

#vote-button {
	min-width: 43%;
	margin-top: 5px;
	margin-bottom: 5px;
}

#picked {
	color: green;
}

#show-results {
	font-size: 2.2vh;
	text-align: center;
}