.chart-panel {
  margin-top: 0;
  margin-bottom: 0;
  background-color: darkgrey;
  min-height: 20vh;
  max-height: 20vh;
}

#poll-title {
  text-align: center;
}

#vote {
  float: right;
}

#delete {
  float: right;
}