<div class="row justify-content-center">
  <input class="form-control col-8 justify-content-center" name="search" type="text" placeholder="Search polls..." [(ngModel)]="input.search" #search="ngModel" />
</div>
<br>
<div *ngIf="polls.length" class="row justify-content-center">
  <div class="col-10 col-lg-4" *ngFor="let poll of polls | searchFilter:input.search">
    <a routerLink="/poll/{{poll?._id}}">
        <div class="card">
          <h2 class="card-body text-center">{{poll?.title}}</h2>
        </div>
    </a>
  </div>
</div>
<div *ngIf="!polls.length">No Polls</div>