<div class="modal-header">
  <h3>Make A New Poll</h3>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="newForm" (ngSubmit)="onSubmit()">
    <!-- Title -->
    <div class="form-group">
      <label for="title">Title</label>
      <input id="title" type="text" class="form-control" formControlName="title">
      <div *ngIf="!formErrors.title.valid && (formErrors.title.dirty || formErrors.title.touched)" class="small text-danger">
        <div *ngIf="formErrors.title.errors.required">
          Title is required.
        </div>
        <div *ngIf="formErrors.title.errors.minlength">
          Title must be at least 4 characters long.
        </div>
        <div *ngIf="formErrors.title.errors.maxlength">
          Title must be less than 24 characters long.
        </div>
      </div>
    </div>

    <div formArrayName="options">
      <div class="form-group" *ngFor="let option of options.controls; let i = index">
        <label for="option">Option {{i+1}}</label>
        <div class="input-group">
          <input type="text" id="option{{i+1}}" class="form-control" formControlName="{{i}}" required>
          <span class="input-group-btn" *ngIf="i> 1">
            <button type="button" class="btn btn-danger" (click)="removeOption(i)">&times;</button>
          </span>
        </div>
        <div *ngIf="!option.valid && (option.dirty || option.touched)" class="small text-danger">
          <div *ngIf="option.errors?.minlength">
            Must be at least 2 characters
          </div>
          <div *ngIf="option.errors?.maxlength">
            Must be less than 12 characters
          </div>
          <div *ngIf="option.errors?.dupeCheck">
            Duplicate
          </div>
        </div>
      </div>
    </div>

    <br>
    <!-- Submit -->
    <div class="form-group">
      <button type="button" class="btn btn-success" (click)="addOption()" [disabled]="!options.valid || options.value.length > 9">+</button>
      <button type="submit " class="btn btn-primary " (click)="onSubmit()" [disabled]="!newForm.valid || submitting">
        <span *ngIf="!submitting">Make New Poll</span>
        <app-loading *ngIf="submitting"></app-loading>
      </button>
      <p *ngIf="error " class="mt-3 alert alert-danger ">
        <strong>Error:</strong> {{error}}
      </p>
    </div>
  </form>
</div>